@import 'bootstrap-theme';

@import 'variables';
@import 'mixins';

@import 'atoms/buttons';
@import 'atoms/text';
@import 'atoms/select';
@import 'atoms/hidden';

@import 'molecules/header';
@import 'molecules/footer';
@import 'molecules/main';
@import 'molecules/channel';
@import 'molecules/video';
@import 'molecules/left-section';
@import 'molecules/right-section';

@import 'organisms/base';
@import 'organisms/tchop';
@import 'organisms/bvg';
@import 'organisms/group';
@import 'organisms/opel';
@import 'organisms/unicef';
@import 'organisms/wernsing';
@import 'organisms/404';

body {
  margin: 0;
  padding: 0;
}

