{% raw %}
<div class="create-page" ng-controller="updateController">
  <div class="title-text"><h3>Change the data</h3><a class="delete" ng-click="delete()">
    <span class="material-icons">delete_sweep</span>
  </a></div>

  <div class="message">
    <p>{{pageCreate}}</p>
    <p>{{deleteMessage}}</p>
  </div>

  <form name="myForm" class="my-form">
    <div class="logo">
      <img src="{{dataOld.logo}}" alt="Logo">
    </div>
    <div class="title">
      <div>
        <label for="select">Select the page</label>
        <select name="select"
                id="select"
                ng-init="dataChange.selected = pages[0].id"
                ng-options="item.name for item in pages track by item.id"
                ng-change="getOptions()"
                ng-model="dataChange.selected">
        </select>
      </div>
      <div>
        <label for="name">Name:</label>
        <input ng-model="dataOld.name" id="name" type="text">
      </div>
      <div class="old-logo">
        <div>
          <label for="file">Logo:</label>
          <div class="file-select">
            <input id="file" class="inputfile" type="file" nv-file-select uploader="uploader"/><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="style">
      <div>
        <p><b>Content styles</b></p>
        <div>
          <p>Background:</p>
          <color-picker options="options" id="bck_color" ng-model="dataOld.bck_color"></color-picker>
        </div>
        <div>
          <p>Text:</p>
          <color-picker options="options" id="text_color" ng-model="dataOld.text_color"></color-picker>
        </div>
      </div>

      <div><p><b>Button styles</b></p>
        <div>
          <p>Background</p>
          <color-picker options="options" id="btn_bck_color" ng-model="dataOld.btn_bck_color"></color-picker>
        </div>
        <div>
          <p>Text</p>
          <color-picker options="options" id="btn_color" ng-model="dataOld.btn_color"></color-picker>
        </div>

      </div>
    </div>
    <div class="content">
      <div class="list-content">
        <label for="title">Title:</label>
        <textarea id="title" ng-model="dataOld.title">{{dataOld.title}}</textarea>
      </div>
      <div class="list-content">
        <label for="list">List of advantages:</label>
        <textarea id="list" ng-model="dataOld.list">{{dataOld.list}}</textarea>
      </div>
      <div>
        <label for="link_to">Link to:</label>
        <input id="link_to" ng-model="dataOld.link_to" value="{{dataOld.link_to}}" type="text">
      </div>
      <div>
        <label for="btn_text">Text on the button:</label>
        <input id="btn_text" ng-model="dataOld.btn_text" value="{{dataOld.btn_text}}" type="text">
      </div>
    </div>
    <button class="change" ng-click="update(uploader.queue[0])">Change</button>
  </form>
</div>
{% endraw %}