<div class="section">
  <div class="left-section">{% raw %}
    <div class="file-select">
      <input id="file" class="inputfile" type="file" nv-file-select uploader="uploader"/><br/>
    </div>
    <ul>
      <li ng-repeat="item in uploader.queue">
        Name: <span ng-bind="item.file.name"></span> - <span ng-repeat="object in fileObject"
                                                             ng-if="object.file == item.file.name">
                {{object.progress}} %
              </span><br/>
        <button class="submit" ng-click="item.upload()">upload</button>
        <div class="container-select">
          <label for="select">for page:</label>
          <select name="select"
                  id="select"
                  ng-init="data.selected = pages[0]"
                  ng-options="item.name for item in pages track by item.id"
                  ng-model="data.selected">
          </select>
        </div>
        <span class="status" ng-repeat="object in fileObject" ng-if="object.file == item.file.name">
                {{object.message}}
              </span>
      </li>
    </ul>
    {% endraw %}
  </div>

  <div class="right-section">
    <div class="device">
      <img class="shadow" src="/images/shadow.png" alt="Shadow">
      <img src="/images/device.png" alt="Device">
      <article>
        {% raw %}
        <div class="video small" ng-controller="fileController">
          <div ng-repeat="item in items">
            <div class="delete-video">
              <p ng-repeat="page in pages" ng-if="item.page == page.id">
                For page <b>{{page.name}}</b>
              </p>
              <a class="delete" ng-click="delete(item)"><span class="material-icons">clear</span></a>
            </div>
            <div>{{deleted}}</div>
            <video controls>
              <source ng-src="{{item.link}}">
            </video>
          </div>
        </div>
        {% endraw %}
      </article>
    </div>
  </div>

</div>
