node_modules/
node_modules/*
/node_modules/
*.css
.DS_store
.idea
npm-debug.log
!.gitignore
build
Gemfile.lock
.DS_Store
.idea/
/dist/**/*
/build/**/*
*_scsslint_*.scss
/backstop_data/*
!/backstop_data/bitmaps_reference
/sassdoc
.directory
public/style/
public/assets/