<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style/style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>tchop</title>
</head>
<body>

{% include "bloks/header.html" %}


{% if error %}
{% include "bloks/error.html" %}

{% elif admin %}
{% include "bloks/admin.html" %}

{% else %}
{% include "bloks/body.html" %}

{% endif%}

{% include "bloks/footer.html" %}
</body>
</html>