@import '../mixins';
@import '../variables';

.header {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin: auto;
  max-width: 1440px;

  .right {
    display: flex;
  }

  img {
    width: 100px;

    @include breakpoint(md) {
      width: 120px;
    }
  }

  p {
    color: $grey;
    margin: auto;
    opacity: .8;
  }
}
