@import '../mixins';
@import '../variables';

.left-section {
  max-width: 320px;
  padding-top: 16px;
  width: 100%;

  @include breakpoint(md) {
    margin-left: 5rem;
  }

  @include breakpoint(lg) {
    margin-left: 12rem;
    max-width: 489px;

    .hidden-sm {
      width: 489px;
    }
  }

  img {
    margin-bottom: 24px;
    width: 80px;
  }

  ul {
    margin-bottom: 46px;
    padding-left: 20px;
  }

  div {
    margin-bottom: 16px;
  }

  .plus {
    padding-bottom: 46px;

    p {
      margin: 0;

      @include breakpoint(md) {
        font-size: 18px;
      }

      @include breakpoint(lg) {
        font-size: 20px;
      }

      &::before {
        content: '\00B7';
        padding-right: 10px;
      }
    }
  }

  .big {
    @include breakpoint(md) {
      font-size: 37px;
    }

    @include breakpoint(lg) {
      font-size: 48px;
    }
  }

  .btn {
    margin-bottom: 36px;
    text-align: center;
    width: 100%;

    @include breakpoint(md) {
      text-align: left;
    }

    .button {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 5px;
      line-height: 23px;
      margin-bottom: 20px;

      &:hover {
        border: 1px solid $grey;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .link {
    margin-bottom: 40px;
    text-align: center;

    @include breakpoint(md) {
      margin-bottom: 0;
      text-align: left;
    }

    a {
      color: inherit;
      font-size: 18px;
      line-height: 18px;
      text-decoration: none;
    }
  }
}
