@import '../mixins';
@import '../variables';

.button {
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 23px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;

  text-transform: uppercase;

  @include breakpoint(md) {
    font-size: 18px;
    padding: 12px 42px;
  }
}
