@import '../mixins';
@import '../variables';

//sass-lint:disable-all
.file-select {
  font-size: 14px;
  font-weight: 300;
  color: $white;
  background-color: $group-bcg;
  display: inline-block;
  height: 40px;
  border-radius: 5px;
  padding: 9px;
}

.container-select {
  position: relative;
  display: flex;
  flex-direction: column;

  select {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $group-bcg;
    background-image: none;
    width: 300px;
    height: 42px;
    margin: 0;
    padding: 0 0 0 .5em;
    color: $white;
    cursor: pointer;
    font-size: 18px;

    &::-ms-expand {
      display: none;
    }
  }

  .select {
    position: relative;
    display: block;
    width: 300px;
    line-height: 3;
    background: $group-bcg;
    overflow: hidden;
    border-radius: .25em;

    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 1em;
      background: $group-bcg;
      pointer-events: none;
    }

    &:hover::after {
      color: $light-blue;
    }

    &::after {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }
  }
}

  .submit {
  color: $white;
  background-color: $group-bcg;
  display: inline-block;
  width: 300px;
  height: 42px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;

  &:hover {
    background-color: $light-blue;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
}
//sass-lint:enable-all
