@import '../mixins';
@import '../variables';

.bvg {
  background-color: $bvg-bcg;

  .left-section,
  .top {
    color: $white;
  }

  .button {
    background-color: $yellow;
    color: $black;
  }

  .link {
    color: $white;
  }
}
