@import '../mixins';
@import '../variables';

.tchop {
  background-color: $tchop-bcg;

  .left-section,
  .top {
    color: $text-dark;
  }

  .button {
    background-color: $orange;
    color: $white;
  }

  .link {
    color: $text-dark;
  }
}
