@import '../mixins';
@import '../variables';

.unicef {
  background-color: $tchop-bcg;

  .left-section,
  .top {
    color: $black;
  }

  .button {
    background-color: $light-blue;
    color: $white;
  }

  .link {
    color: $black;
  }
}
