<div class="body" style="background-color: {{data.bck_color}}; color: {{data.text_color}}">
  <div class="top hidden-md">
    <img src="{{data.logo}}" alt="Logo">
    <div class="serif big">{{data.title}}</div>
  </div>
  <div class="section">
    <div class="left-section">
      <div class="hidden-sm">
        <img src="{{data.logo}}" alt="Logo">
        <div class="serif big">{{data.title}}</div>
      </div>
      <div class="plus">
        {% for plus in list%}
        <p class="medium lucida">{{plus}}</p>
        {% endfor %}
      </div>

      <div class="btn">
        <a href="mailto:support@tchop.io?subject=tchop demo&body=Hi, I would like to have a look at tchop. Please get in touch!" class="button" style="background-color: {{data.btn_bck_color}}; color: {{data.btn_color}}">{{data.btn_text}}</a>
      </div>
      <p class="link">or
        <a href="http://{{data.link_to}}">
          <b>Try it for yourself</b>
        </a>
      </p>
    </div>
    <div class="right-section">
      <div class="device">
        <img class="shadow" src="/images/shadow.png" alt="Shadow">
        <img src="/images/device.png" alt="Device">
        <article>
          <div class="video small">
            <div>
              {% for item in video %}
              <video controls autoplay>
                <source src="{{item.link}}">
              </video>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>