{% raw %}
<div class="create-page">
  <h3>Create New page</h3>
  <div class="title">
    <div>
      <label for="name">Name:</label>
      <input ng-model="newPage.name" id="name" type="text" required>
    </div>
    <div>
      <label for="file">Logo:</label>
      <input id="file" class="inputfile" type="file" nv-file-select uploader="uploader"/><br/>
    </div>
  </div>
  <div class="style">
    <div>
      <p><b>Content styles</b></p>
      <div>
        <p>Background:</p>
        <color-picker options="options" id="bck_color" ng-model="newPage.styles.bck_color"></color-picker>
      </div>
      <div>
        <p>Text:</p>
        <color-picker options="options" id="text_color" ng-model="newPage.styles.text_color"></color-picker>
      </div>
    </div>

    <div><p><b>Button styles</b></p>
      <div>
        <p>Text</p>
        <color-picker options="options" id="btn_color" ng-model="newPage.styles.btn_color"></color-picker>
      </div>
      <div>
        <p>Background</p>
        <color-picker options="options" id="btn_bck_color" ng-model="newPage.styles.btn_bck_color"></color-picker>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="list-content">
      <label for="title">Title:</label>
      <textarea ng-model="newPage.content.title" placeholder="Input the title..." id="title"></textarea>
    </div>
    <div class="list-content">
      <label for="list">List of advantages:</label>
      <textarea ng-model="newPage.content.list" placeholder="Input the advantages..." id="list"></textarea>
    </div>
    <div>
      <label for="link_to">Link to:</label>
      <input ng-model="newPage.content.link_to" id="link_to" type="text">
    </div>
    <div>
      <label for="btn_text">Text on the button:</label>
      <input ng-model="newPage.content.btn_text" id="btn_text" type="text">
    </div>
  </div>
  <p>{{pageCreate}}</p>
  <button class="create" ng-click="uploader.queue[0].upload()">Create a new page</button>
</div>
{% endraw %}