<div>
    {% raw %}
    <div class="file-select">
        <input id="file" class="inputfile" type="file" nv-file-select uploader="uploader"/><br/>
    </div>
    <ul>
        <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span> - <span ng-repeat="object in fileObject"
                                                                 ng-if="object.file == item.file.name">
                {{object.progress}} %
              </span><br/>
            <button class="submit" ng-click="item.upload()">upload</button>
            <div class="container-select">
                <label for="select">for page:</label>
                <select name="select"
                        id="select"
                        ng-init="data.selected = pages[0]"
                        ng-options="item.name for item in pages track by item.id"
                        ng-model="data.selected">
                </select>
            </div>
            <span class="status" ng-repeat="object in fileObject" ng-if="object.file == item.file.name">
                {{object.message}}
              </span>
        </li>
    </ul>
    {% endraw %}
</div>
